*

// -- INCLUDE

// -- ROOT Directories

!.github/
!.github/**

!.vscode/
!.vscode/**

!benches/
!benches/**

!docker/
!docker/**

!docs/
!docs/**

!examples/
!examples/**

!scripts/
!scripts/**

!src/
!src/**

!tests/
!tests/**

// -- ROOT FILES
!.gitignore
!.markdownlint.json
!CHANGELOG.md
!deno.json
!deno.jsonc
!deno.lock
!LICENSE
!mod.ts
!README.md

// -- IGNORE

// -- Examples artifacts
examples/package-lock.json

**/node_modules/
**/node_modules/**

// -- NPM package artifacts
// npm/
// npm/**
// npm/node_modules/
// npm/node_modules/**

// -- NPM test artifacts
// npm-test/
// npm-test/**
// npm-test/node_modules/
// npm-test/node_modules/**

// -- Seed script artifacts
scripts/seed/data/
scripts/seed/data/**
