*
!.github/
!.github/**

!.vscode/
!.vscode/**

!benches/
!benches/**

!docker/
!docker/**

!docs/
!docs/**

!examples/
!examples/**

!scripts/
!scripts/**

!src/
!src/**

!tests/
!tests/**

// Project files
!.gitignore
!deno.json
!deno.jsonc
!deno.lock
!LICENSE
!CHANGELOG.md
!README.md
!mod.ts

// Do not include generated data
scripts/seed/data/
scripts/seed/data/**
