name: Check

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deno-version: [v2.x]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Check formatting
        run: deno task fmt:check
      - name: Lint
        run: deno task lint
      - name: Type check
        run: deno task check